<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uid</key>
		<string>3</string>
		<key>h</key>
		<integer>231</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>健康饮食</string>
		<key>icon</key>
		<string>jiankangyinshi</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>11</string>
		<key>w</key>
		<integer>200</integer>
		<key>h</key>
		<integer>289</integer>
		<key>name</key>
		<string>减肥瘦身</string>
		<key>icon</key>
		<string>jianfeisoushen</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>5</string>
		<key>h</key>
		<integer>282</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>女性保养</string>
		<key>icon</key>
		<string>nvxingbaoyang</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>4</string>
		<key>h</key>
		<integer>215</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>男性健康</string>
		<key>icon</key>
		<string>nanxingjiankang</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>7</string>
		<key>h</key>
		<integer>191</integer>
		<key>name</key>
		<string>私密生活</string>
		<key>w</key>
		<integer>200</integer>
		<key>icon</key>
		<string>simishenghuo</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>13</string>
		<key>h</key>
		<integer>278</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>夫妻情感</string>
		<key>icon</key>
		<string>fuqiqinggan</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>6</string>
		<key>h</key>
		<integer>302</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>孕婴手册</string>
		<key>icon</key>
		<string>yunyingshouce</string>
	</dict>
	<dict>
		<key>h</key>
		<integer>278</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>孩子健康</string>
		<key>uid</key>
		<string>2</string>
		<key>icon</key>
		<string>haizijiankang</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>8</string>
		<key>h</key>
		<integer>172</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>育儿宝典</string>
		<key>icon</key>
		<string>yuerbaodian</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>12</string>
		<key>h</key>
		<integer>227</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>医疗护理</string>
		<key>icon</key>
		<string>yiliaohuli</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>1</string>
		<key>h</key>
		<integer>325</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>老人健康</string>
		<key>icon</key>
		<string>laorenjiankang</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>10</string>
		<key>h</key>
		<integer>270</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>四季养生</string>
		<key>icon</key>
		<string>sijiyangsheng</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>9</string>
		<key>h</key>
		<integer>237</integer>
		<key>w</key>
		<integer>200</integer>
		<key>name</key>
		<string>心理健康</string>
		<key>icon</key>
		<string>xinlijiankang</string>
	</dict>
</array>
</plist>
