<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>水瓶座</string>
		<key>icon</key>
		<string>shuiping</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双鱼座</string>
		<key>icon</key>
		<string>shuangyu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>白羊座</string>
		<key>icon</key>
		<string>baiyang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金牛座</string>
		<key>icon</key>
		<string>jinniu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双子座</string>
		<key>icon</key>
		<string>shuangzi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巨蟹座</string>
		<key>icon</key>
		<string>juxie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>狮子座</string>
		<key>icon</key>
		<string>shizi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>处女座</string>
		<key>icon</key>
		<string>chunv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天秤座</string>
		<key>icon</key>
		<string>tiancheng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天蝎座</string>
		<key>icon</key>
		<string>tianxie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>射手座</string>
		<key>icon</key>
		<string>shezhou</string>
	</dict>
	<dict>
		<key>name</key>
		<string>摩羯座</string>
		<key>icon</key>
		<string>moxie</string>
	</dict>
</array>
</plist>
